{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Lista de Tramite obsevados</h1>


    <table class="table table-striped">

        <thead>
            <tr>

                <th>numero_tramite</th>
                <th>Tipo de tramite</th>
                <th>fecha/Hora</th>
                <th>solicitante</th>
                <th>estado</th>
                <th>Detalle</th>

            </tr>
        </thead>
        <tbody>
            {% for tra in tramite %}
            <tr>

                <td>{{tra.id}}</td>
                <td>{{tra.tipo_tramite}}</td>
                <td>{{tra.fecha_creacion}}</td>
                <td>{{tra.afiliado}}</td>
                <td>{{ tra.estado}}</td>
                <td>{{ tra.observaciones}}</td>
                <td>

                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="13" class="text-center">No hay afiliados registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}