{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Lista de Federaciones</h1>


    <table class="table table-striped">
        <a class="btn btn-success" href="{% url 'crearFederacion' %}">registrar</a>
        <thead class="table-dark">
            <tr>
                
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Celular</th>
                <th>Fecha creacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for federacionss in federacion %}
            <tr>
                
                <td>{{ federacionss.nombre }}</td>
                <td>{{ federacionss.direccion }}</td>
                <td>{{ federacionss.celular }}</td>
                <td>{{ federacionss.fecha_creacion }}</td>
                <td>
                    
                    <a href="{% url 'editar_federacion' federacionss.id %}"  class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_federacion' federacionss.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="13" class="text-center">No hay afiliados registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}