{% extends "base.html" %}

{% block content %}
<style>
     .card-header {
        background-color:#FB8257;
        color: white; 
        text-align: center; 
    }
    
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header ">
                    <h4>Crear Operador</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'crearOperdor' %}" method="POST">
                        {% csrf_token %}
                        {{ operador }}
                        <div class="d-grid gap-2">
                            <button type="submit" style="background-color: #AAC85F; color: white; border: none;" class="btn">Guardar</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
