{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-info text-white text-center">
                    <h4>Editar Operador</h4>
                </div>
                <div class="card-body">
                    <form action="{% url 'editar_operador' id %}" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <div class="d-grid gap-2 mt-3">
                            <button type="submit" class="btn btn-success">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
