{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Lista de Operador</h1>


    <table class="table table-striped">
        <a href="{% url 'crearOperdor' %}">registrar</a>
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Dirección</th>
                <th>Celular</th>
                <th>Federacion</th>
                <th>Fecha creacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for o in operador %}
            <tr>

                <td>{{ o.nombre }}</td>
                <td>{{ o.direccion }}</td>
                <td>{{ o.celular }}</td>
                <td>{{ o.federacion }}</td>
                <td>{{ o.fecha_creacion }}</td>
                <td>
                    <a href="" class="btn btn-info btn-sm">Ver</a>
                    <a href="" class="btn btn-warning btn-sm">Editar</a>
                    <a href="" class="btn btn-danger btn-sm">Eliminar</a>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="13" class="text-center">No hay afiliados registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}