{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Lista de Logs</h2>
    <form method="get" class="row g-3 mb-4">
        <div class="col-md-4">
            <label for="fecha_inicio" class="form-label">Fecha inicio</label>
            <input type="date" name="fecha_inicio" id="fecha_inicio" class="form-control"
                value="{{ request.GET.fecha_inicio }}">
        </div>
        <div class="col-md-4">
            <label for="fecha_fin" class="form-label">Fecha fin</label>
            <input type="date" name="fecha_fin" id="fecha_fin" class="form-control" value="{{ request.GET.fecha_fin }}">
        </div>
        <div class="col-md-4 align-self-end">
            <button type="submit" class="btn btn-primary">buscar</button>
        </div>
    </form>
    <div class="table-responsive">
        <table id="logTable" class="table table-bordered table-hover table-striped align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Modelo</th>
                    <th>Usuario</th>
                    <th>Descripción</th>
                    <th>Fecha de Creación</th>
                </tr>
            </thead>
            <tbody>
                {% for log in log %}
                <tr>
                    <td>{{ log.id }}</td>
                    <td>{{ log.modelo }}</td>
                    <td>{{ log.usuario }}</td>
                    <td>{{ log.descripcion }}</td>
                    <td>{{ log.fecha_creacion|date:"d/m/Y H:i" }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No hay registros disponibles.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#logTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
            }
        });
    });
</script>
{% endblock %}