{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Lista de vehiculos</h1>


    <table class="table table-striped">

        <thead class="table-dark">
            <tr>

                <th>Operador</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Placa</th>
                <th>Tipo transporte</th>
                <th>Chasis</th>
                <th>capacidad</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehiculo %}
            <tr>
                <td>{{vehiculo.operador}}</td>
                <td>{{vehiculo.marca}} </td>

                <th>{{vehiculo.modelo}}</th>
                <th>{{vehiculo.placa}}</th>
                <th>{{vehiculo.tipo_transporte}}</th>
                <th>{{vehiculo.chasis}}</th>
                <th>{{vehiculo.capacidad}}</th>
                <td>

                    <a href="" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}