{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm rounded-4">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">editar Costo de Trámite</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_costo_tramite" class="form-label">Costo del Trámite</label>
                            <input value="{{ costo.precio }}" type="number" name="costo_tramite" id="id_costo_tramite"
                                class="form-control" placeholder="Ingrese el costo" required>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}