{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Lista de Costo</h1>
    <style>
        thead {
            background-color: #DC5D44;
        }
    </style>

    <table class="table table-striped">
        <a class="btn btn-success" href="{% url 'crearCosto' %}">registrar</a><br>
        <thead class="table-dark">
            <tr>

                <th>costo</th>

                <th>Fecha creacion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for o in costo %}
            <tr>
                <td>{{ o.precio }}</td>

                <td>{{ o.fecha_creacion }}</td>
                <td>

                    <a href="{% url 'editarCosto' o.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminarCosto' o.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="13" class="text-center">No hay afiliados registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}